<h1>Edit post</h1>

<%= form_for @post do |f| %>
    <div>
        <label>Post title</label>
        <%= f.text_field:title %>
    </div>
    <div>
        <label>Post content</label>
        <%= f.text_area:content %>
    </div>
    <div>
       <button type='submite'>Edit</button>
    </div>
<% end %>